/* Universal font  */
*{
    font-family: 'Source Serif Pro', serif;
}

/* Font attached */
@font-face {
    font-family: Lobster-Regular;
    src: url(../fonts/Lobster-Regular.ttf);
}

h1, h2, h3, h4, h5{
    font-family: Lobster-Regular;
}

/* Body  */
body{
    padding: 0;
    margin: 0;
}

.uni-padding{
    padding: 0 5%;
}

/* topbar */
#topbar{
    overflow: auto;
    background-color:rgb(48, 241, 177);
}

#top-info{
    float: left;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

#iconbar{
    float: right;
    padding-top: 30px;
}

.fab{
    padding: 7px;
    background-color: black;
    color: rgb(48, 241, 177);
    border-radius: 50%;
}

.fa-facebook-f{
    padding: 7px 10px;
    margin-right: 5px;
}

.fa-whatsapp{
    padding: 7px 8px;
    margin-right: 5px;
}

.fa-twitter{
    padding: 7px 8px;
    margin-right: 5px;
}

.fa-instagram{
    padding: 7px 8px;
    margin-right: 5px;
}

#iconbar a{
    cursor: pointer;
}

/* responsibe topbar */
@media only screen and (max-width: 500px){
    #iconbar{
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

/* logobar */
#logobar img {
    width: 150px;
    margin: 25px 0;
}

/* responsive logobar  */
@media only screen and (max-width: 500px) {
    #logobar img {
        width: 100px;
        padding-left: 100px;
    }
}

/* navbar */
#navbar{
    background-color:rgb(236, 43, 250);
    padding-top: 15px;
    padding-bottom: 15px;
}

#navbar li{
    list-style-type: none;
}

#navbar ul{
    padding: 0;
    margin: 0;
}

#navbar ul li{
    display: inline-block;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    padding: 3px 53px;
}

#navbar li a:hover{
    background-color: white;
    color: black;
}

/* responsive navbar  */
@media only screen and (max-width: 768px) {
    #navbar li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        cursor: pointer;
        border-radius: 20px;
        padding: 3px 53px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    #navbar li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        cursor: pointer;
        border-radius: 20px;
        padding: 3px 53px;
        padding-left: 10px;
    }
}



/* mobile menu  */
#navbar ul #menu-button, #menu-creation{
    display: none;
}

@media only screen and (max-width: 500px)
{
    #navbar {
        background-color: rgb(236, 43, 250);
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        top: 0px;
        height: 100vh;
        padding: 0px;
        width: 280px;
    }

    #navbar ul li {
        display: block;
        padding: 18px 0;
        padding-right: 35px;
        padding-left: 20px;
        border: 1px solid #e0d5d5;
    }

    #menu-button{
        text-align: right;
    }

    .fa-times-circle{
        font-size: 25px;
        color: white;
    }

    #navbar{
        left: -280px;
        transition: all 0.5s ease;
    }

    #menu-creation {
        background-color: rgb(236, 43, 250);
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-size: 18px;
    }

    #navbar ul #menu-button, #menu-creation{
        display: block;
    }

}


/* blog  */
#blog{
    background-image: url(../image/bg1.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#blog h1{
    color: white;
    font-size: 50px;
}

#blog p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}

#ordernow {
    padding: 7px 26px;
    margin-top: 6px;
    font-size: 20px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(231, 24, 24);
    color: white;
}

/* responsive blog  */

@media only screen and (max-width: 500px) {
    #ordernow{
        margin-bottom: 20px;
    }
    #blog{
        text-align: center;
    }
}

/* services */
#services{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}

#ourservices h1{
    text-align: center;
    font-size: 40px;
}

.section33 {
    width: 33.33%;
    float: left;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 10%;
}

.section33 img{
    max-width: 100%;
}

.section33 h2, p{
    text-align: center;
}

/* responsive services */
@media only screen and (max-width: 500px) {
    .section33{
        width: 100%;
    }
    .section33 h2, p {
        padding-bottom: 25px;
    }
}


/* our clients  */
#clients{
    overflow: auto;
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 400px; 
}

#clients h1 {
    text-align: center;
    padding: 12px 0px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    font-size: 40px;
}

#ourclient{
    overflow: auto;
    padding: 20px 10px;
}

.company{
    width: 25%;
    float: left;
}

#clients img {
    height: 90px;
    padding: 35px 25px;
    margin-top: 20px;
}


/* responsive clients */
@media only screen and (max-width: 768px)
{
    #clients img {
        height: 80px;
        padding: 25px 10px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 500px)
{
    .company{
        width: 100%;
    }

    #clients {
        height: 800px;
        padding-left: 130px;
    }

    #clients h1 {
        padding-right: 55px;
    }
}

/* Contactbar */
#contactbar h1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    font-size: 40px;
}

#contactbar{
    overflow: auto;
    background-image: url(../image/contact.jpg);
    background-position: center;
    background-size: cover;
    height: 500px; 
}

#form {
    text-align: center;
    padding-top: 10px;
}

#form-btn {
    margin-top: 5px;
    padding: 6px 18px;
    border: 0;
    border-radius: 5px;
    background-color:  #f309c5;
    color: white;
}

#form label {
    font-size: 20px;
    font-weight: bold;
}

.formbar {
    text-align: center;
    padding: 3px 26px;
    border: 0;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
}

#message-box {
    border: 0;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
    padding-top: 40px;
}

/* footer  */
#copyright {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

#footermenu {
    overflow: auto;
    background-color: rgb(182, 179, 179);
}

.div33 {
    padding: 25px 50px;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
}

.div33 p{
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.div33 ul{
    list-style-type: none;
    padding: 0;
}

.div33 a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

#linkmenu {
    padding-left: 74px;
}

.div33 h1{
    color:blue;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

/* responsive footer menu  */
@media only screen and (max-width: 500px) {
    .div33 {
        width: 100%;
        text-align: center;
    }
    .div33 p{
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #linkmenu {
        padding-left: 30px;
    }
    .div33 {
        padding: 0px 5px;
    }
}


